<ion-header>
  <ion-toolbar>
    <div>
      <ion-title class="centrar">ZapFast</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  <ion-back-button></ion-back-button>
</ion-buttons>

<ion-content [fullscreen]="true" class="imagen-fondo">

<div class="container">
  <ion-card>
    <ion-card-content >
      <div class="email">
        <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" errorText="Invalid email" [(ngModel)]="email">
        </ion-input>

      </div>

      <div class="contraseña">
        <ion-input type="password" fill="solid" label="Ingresa tu contraseña" labelPlacement="floating"
          errorText="contraseña invalida" [(ngModel)]="contrasena">
        </ion-input>
      </div>

      <div>
        <ion-button size="small" (click)="validacion()">Entrar</ion-button>
        <ion-button size="small" (click)="irRegistro()">Registrarse</ion-button>
      </div>

      <a (click)="irRecuperar()">¿olvidaste tu contraseña?</a>
    </ion-card-content>
  </ion-card>
</div>



</ion-content>

<ion-footer class="color-rojo">
  <ion-toolbar>
    <div class="contenedor-flex">
      <div class="contenedor-footer" (click)="irInicio()">
        <img src="assets/inicio.png" alt="" class="tamano-general-imagenes">
      </div>

      <div class="contenedor-footer" (click)="irZapatillas()">
        <img src="assets/zapatilogo.png" alt="" class="tamano-general-imagenes">
      </div>

      <div class="contenedor-footer arreglar-lista">
        <img src="assets/pedido.png" alt="" class="tamano-general-imagenes">

      </div>
      <div class="contenedor-footer">
        <img src="assets/perfil.png" alt="" class="tamano-general-imagenes">
      </div>
    </div>
  </ion-toolbar>
</ion-footer>