<ion-header>
  <ion-toolbar >
    <div class="contenedor-flex">
      <ion-title class="centrar">ZapFast</ion-title>
      <ion-button shape="round" (click)="irLogin()">iniciar sesion </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  <ion-back-button></ion-back-button>
</ion-buttons>

<ion-content [fullscreen]="true" class="fondo-wallpaper">
  <ion-card>
    <ion-card-header>
      <ion-card-title>ingrese su nueva contraseña</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input
  type="password"
  fill="solid"
  label="nueva contraseña"
  labelPlacement="floating"
  helperText="la contraseña debe contener mayusculas, numeros y caracteres especiales"
  errorText="Invalid email"
  ngModel
  password
></ion-input>

<ion-input
type="password"
fill="solid"
label="nueva contraseña"
labelPlacement="floating"
helperText="la contraseña debe contener mayusculas, numeros y caracteres especiales"
errorText="Invalid email"
ngModel
password
></ion-input>
  <ion-button (click)="irLogin()">cambiar contraseña</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer class="color-rojo">
  <ion-toolbar>
    <div class="contenedor-flex">
      <div class="contenedor-footer" (click)="irInicio()">
        <img src="assets/inicio.png" alt="" class="tamano-general-imagenes">
      </div>

      <div class="contenedor-footer" (click)="irZapatillas()">
        <img src="assets/zapatilogo.png" alt="" class="tamano-general-imagenes">
      </div>

      <div class="contenedor-footer arreglar-lista">
        <img src="assets/pedido.png" alt="" class="tamano-general-imagenes">

      </div>
      <div class="contenedor-footer">
        <img src="assets/perfil.png" alt="" class="tamano-general-imagenes">
      </div>
    </div>
  </ion-toolbar>
</ion-footer>
